<IfModule mod_rewrite.c>
  # Ensure MultiViews and Indexes are disabled for correct routing
  <IfModule mod_negotiation.c>
      Options -MultiViews -Indexes
  </IfModule>

  # Enable the Rewrite Engine
  RewriteEngine On
  RewriteBase /

  # Exclude assets directory from being rewritten
  RewriteCond %{REQUEST_URI} !^/assets/

  # Redirect Trailing Slashes (if needed) to prevent duplicate URLs
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [L,R=301]

  # If the requested resource is not a file or directory, route it to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /index.html [L]

</IfModule>
